div
{
    color: rgb(12, 12, 212);
    background-color: coral;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
body
{
    background-color: aquamarine;
}
.highlight 
{ 
    color: rgb(29, 77, 180); font
    
}
